


  <div class="container">

    <div class="row">
        <h1 > Registro de  Ventas</h1>
        <div class="col-lg-6 border " style="background: aliceblue;" >
            <form autocomplete="off"  (ngSubmit) = "saveSales( form )" #form="ngForm" >
            <div class="input-group">
           
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" [(ngModel)]="salesModel.nombre" name="nombre">
              </div>
              <div class="input-group">
                
                <select class="form-select" aria-label="Default select example" [(ngModel)]="salesModel.producto" name="producto">
            
                  <option selected>Selecciona Producto</option>
                    <option value="1">Silla</option>
                    <option value="2">Mesa</option>
                    <option value="3">Cajon</option>
                  </select>
              </div>
              <div class="input-group ">
        
                <input type="number" class="form-control" placeholder="Cantidad" aria-label="Username" [(ngModel)]="salesModel.cantidad" name="cantidad" >
              </div>
              <div class="input-group ">
            
                <input type="number" class="form-control" placeholder="Precio unitario en COP" aria-label="Username" [(ngModel)]="salesModel.precio" name="precio">
              </div>

              <div class="input-group ">
            
                <button type="submit" class="btn btn-danger">
                    <img src="assets/images/save.png" alt="" srcset="">
                    Guardar venta</button>
              </div>

            </form>
        </div>
        <div class="col-lg-6 border" >
           <app-sales-table  [salesTable]="sales"></app-sales-table>
        </div>
    </div>

</div>