<table class="table table-striped table-hover">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor Unitario</th>
            <th scope="col">Valor Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of salesTable">
            <td>1</td>
            <td>{{item.nombre}}</td>
            <td>{{item.producto}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.precio | moneda }}</td>
            <td>{{item.total | moneda }}</td>
          </tr>
       
        </tbody>

  </table>

