<div class="container">

    <div class="row">
        <h1 > Sistema de ventas y datos</h1>
        <div class="col-lg-6 border " style="background-color: aliceblue;">
            <button type="button" class="btn btn-warning" routerLink="/ventas">
                <img src="assets/images/img1.png" alt="" srcset="">
                Ventas</button>
        </div>
        <div class="col-lg-6 border" style="background: #323030;">
            <button type="button" class="btn btn-success" routerLink="/table">
                <img src="assets/images/img2.png" alt="" srcset="">
                Table</button>
        </div>
    </div>

</div>