@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Zen+Tokyo+Zoo&display=swap');
h1{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;

}