<div class="container">
<div class="row" style="margin-top: 250px;">
    <h1 > Datos del API</h1>
<table class="table table-dark table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Localizacion</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataUser">
          <td>1</td>
          <td>{{item.name}}</td>
          <td>{{item.location}}</td>
        </tr>
     
      </tbody>
  </table>
</div>
</div>